@import "variables";
@import "navbar";
@import "footer";
@import "hover";


.title-text{
	font-family: $penny !important;
}


.about-paula-div{
	padding: 10px 10% 10px 10%;
}
.about-paula-div > p{
	text-indent: 50px;
	line-height: 30px;
	font-size: 1.2em;
	font-family: $chilanka;
	text-align: justify;
	margin: 10px;
	@include media-breakpoint-up(sm) {
  		line-height: 40px;
		font-size: 1.5em;
	}
	a:link, a:visited, a:hover, a:active{
		color: $link;
	}
}
.about-paula-div > img{
	
	// display: inline;
	width: 100%;
	height: 100%;
	padding: 20px 10px;
	@include media-breakpoint-up(sm) {
  		width: 50%;
  		margin: 30px;
	height: 50%;
	}
	@include media-breakpoint-up(md) {
  		width: 30%;
	height: 30%;
	}
}

.jumbotron > h1{
	font-family: $chilanka;
	text-align: center;
}
.paula-about-quote{
	font-style: italic;
	text-align: center;
	margin: 0px 20% 0px 20%;
}