@import "variables";
@import "navbar";
@import "footer";
@import "hover";
@import "carousel";

html{
	scroll-behavior: smooth;
	// padding-right: 0;
	// overflow-x: hidden;
}
body{
	// padding-right: 0 !important;

}
.row, .container-fluid{
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 100%;
	margin-left: 0 !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
	// padding-left: 0 !important;
	// padding-right: 0 !important;
}
.book-carousel{
	// width: 50vw;
	max-height: 50vh;
}
.title-jumbo p, .book p{
	padding-left: 10px;
	padding-right: 10px;
}

.row.no-gutters {
  margin-right: 0;
  // margin-left: 0;
// margin-left: 15px;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.book{
	// padding-right: 0px !important;
	// margin-left: 15px;
}
.book-img{
	align-self: center;
	// padding-top: 10%;
	// width: 80%;
  		height: 80%;
  		 -webkit-box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.4);
  		 box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.4);
  		 transition: 0.3s;
  		 border: 2px solid black;
  		 transform: scale(1,1);
  		 width: 50vw;
  @include media-breakpoint-up(sm) {
  		width: 40vw;
	}
	@include media-breakpoint-up(md) {
  		width: auto;
  		height: auto;
	}
}
.book-img:hover{
	
	border: 2px solid black;
	transition: 0.3s;
	@include media-breakpoint-up(sm) {
  		border: 2px solid $red;
  		transform: scale(1.05,1.05);
  		-webkit-box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
  		 box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
	}
}
.container-fluid{
	z-index: 100;
}
.book-container{
	padding: 50px 0 50px 0;
}
.book-container p{
	font-family: $chilanka;
	font-size: 1.2em;
	padding: 5px 5% 5px 5%;
	text-indent: 50px;
	margin:0 0 10px 0;
	text-align: justify;
}
.book-title{
	padding: 0 10% 0 10%;
}
.book-dropdown{
	overflow-y: auto;
	overflow-x: hidden;
	max-height:200px;
	left: 10% !important;
	width: 90vw;
	color: $blue;
	@include media-breakpoint-up(md) {
		width: 50vw;
		transform: translate3d(-35%, 38px, 0px) !important;
	}
	@include media-breakpoint-up(lg) {
		width: 35vw;
		transform: translate3d(-30%, 38px, 0px) !important;
	}
}
.book-dropdown img{
	width: 20px;
	height: 20px;
	display: inline;
}
.book-dropdown::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #fff;
}

.book-dropdown::-webkit-scrollbar:vertical {
    width: 11px;
}

.book-dropdown::-webkit-scrollbar:horizontal {
    height: 11px;
}

.book-dropdown::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
.jumbotron{
	// width: 105vw !important;
}
.series{
	user-select: none;
	font-family: $kanit;
	text-transform: uppercase;
}
.hangingindent {
	position: relative !important;
	left: 35px  !important;
}
.book-dropdown .dropdown-item{
	color: $blue;
	// z-index: 1;
	
	// display: block;
	// float: left;
	// display: inline-block !important;
	// overflow-wrap: normal;
	// text-indent: 50px;
	// text-indent: hanging;
	// list-style-type: circle;
}
.book-dropdown{
	-webkit-box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
  		 box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
	border: 2px solid $blue;
}



 .book-dropdown .dropdown-item:hover{
	background-color: $medium-grey;
}

.details{
	// position: relative;
	text-align: justify;
	margin-right: 40px !important;
	@include media-breakpoint-up(md) {
  		// margin-right: 0px !important;
	}
}
// .book-select, #exampleFormControlSelect1{
// 	text-align: center;
// 	max-width: 250px;
// }
.review{
	font-size: 1em;
	text-indent: 0px;
}
#more {
	display: none;
}

.content {
	display:none;
}

.purchase-button, .read-more-button, #dropdownMenuButton {
	margin-top: 10px;
	cursor: pointer;
	padding-top: 10px;
	// text-decoration: none !important;
	margin: 0px 20% 0px 20%;
	-webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  		 box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  		 transform: scale(1,1);
  		 transition: 0.3s;

	@include media-breakpoint-up(md) {
  		margin: 0px 20% 0px 20%;
	}
	@include media-breakpoint-up(lg) {
  		margin: 0px 40% 0px 40%;
	}
}

.purchase-button:hover, .read-more-button:hover, #dropdownMenuButton:hover{

	@include media-breakpoint-up(sm) {
  		-webkit-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  		 box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  		 transform: scale(1.1,1.1);
  		 transition: 0.3s;
	}
}


hr{
	padding: 0 15% 0 15%;
}

.book{
	// border: 2px solid rgba(0,0,0,0);
	border-radius: 10px;

	

}
// .book:hover{
// 	// border: 2px solid $red;
// 	border-radius: 10px;
	
	
	
// }
.purchase-button{
	margin-top: 10%;
	text-decoration: none !important;
	cursor: pointer;
	font-size: 1.3em;
}
.book-container a{
	text-decoration: none !important;
}
.right{
	background-color: $medium-grey;
}

