@import "variables";
@import "navbar";
@import "footer";
@import "hover";


body{
	font-family: $chilanka;
}
.title-text{
	font-family: $penny !important;
}
.contact-form{
	// background-color: $blue;
	background-color: $card;
	-webkit-box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
  		 box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
  		 color: white;
  		
  		 label{
  		 	text-transform: uppercase;
  		 }
}
label{
	width: 80%;
}
input, textarea{
	// width: 80%;
	padding: 5px;
}
.form-wrapper{
	border: 2px solid black;
	padding: 30px;
	// margin: 20px 0px 20px 0px;
	 width: 95vw;
  		 @include media-breakpoint-up(sm) {
  			width: 80vw;
		}
		@include media-breakpoint-up(md) {
  			width: 50vw;
		}
	border-radius: 10px;
	// background-color: #9FDFF5;
.name-input, .email-input, .message-input{
		margin: 10px;
		width: 100%;
		@include media-breakpoint-up(md) {
	  		// width: 280px;
	}
}
	.message-input{
		height: 200px;
	}
}

.title-text{
	font-family: $penny !important;
}

// }
.send-btn{
	cursor: pointer;
	background-color: $read-more;
	-webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  		 box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  		 transform: scale(1,1);
  		 transition: 0.3s;
 }
 .send-btn:hover{
 	background-color: $read-more-dark;
 	-webkit-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  		 box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  		 transform: scale(1.1,1.1);
  		 transition: 0.3s;
 }
.name-input{
	text-transform: capitalize;

}
input, textarea{
	-webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
  		 box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
}

input:valid, textarea:valid{
	border: 2px solid $light-green !important;
	border-radius: 5px;
}

input:invalid, textarea:invalid{
	border: 2px solid $light-red !important;
	border-radius: 5px;
}

input:focus, textarea:focus{
	outline: none !important;
}

