/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "variables";
@import "navbar";
@import "footer";
@import "hover";





#container {
    margin: 0 auto;
    border: 2px solid $red;
    border-radius: 5px;


    #flag {
        background: #D6D8E5;
        border: 1px solid #7491A8;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: 40px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    #test {
        padding: 0;
        margin: 10px auto;
    }

    #refresh {
        width: 100%;
        cursor: pointer;
        background: #FF6F66;
        color: $light-text;
        margin: 0 auto;
        text-align: center;
        padding: 10px;

    }

    #cap {
        background: #fff;
        width: 100%;
        margin: 0 auto;
    }


    canvas {
        display: table;
        margin: 0 auto;
    }

    #ctitle {
        text-align: center;
        font-size: 16px;
        margin: 5px;
        display: inline-block;
    }

    #form {
        background: $dark-grey;
        width: 100%;
        margin: 0 auto;
        border: 1px solid #7491A8;
        overflow: hidden;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    input {
        display: inline-block;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
        padding: 2px 0 15px 0;
        background: #fff;
        color: #485A68;
        text-align: center;

        @include media-breakpoint-up(md) {
            width: 60%;
            margin-left: 20% !important;
            margin-right: 20% !important;
        }
    }

}



.title-text {
    font-family: $penny !important;
}

.contact-form-div {
    background-color: $card;
    -webkit-box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
    color: $light-text;
}

label {
    width: 100%;
    font-size: 1.3em;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
        width: 80%;
    }
}

input,
textarea {
    padding: 5px;
}

.captcha-input {
    width: 90% !important;
    margin-top: 25px;

    @include media-breakpoint-up(sm) {
        width: 60% !important;
    }
}

.form-wrapper {
    border: 2px solid black;
    padding: 30px 5px;
    width: 95vw;

    @include media-breakpoint-up(sm) {
        width: 80vw;
        padding: 30px;
    }

    @include media-breakpoint-up(md) {
        width: 50vw;
    }

    border-radius: 10px;

    .name-input,
    .email-input,
    .message-input {
        margin: 10px 5%;
        width: 90%;

        @include media-breakpoint-up(md) {}
    }

    .message-input {
        height: 200px;
    }
}

.captcha-div {
    width: 90%;
    margin: 0 5%;
}

.title-text {
    font-family: $penny !important;
}


.send-btn {
    cursor: pointer;
    padding-top: 12px;
    color: $light-text;
    @extend %hover-grow;
}

.name-input {
    text-transform: capitalize;

}


input:valid,
textarea:valid {
    border: 2px solid $light-green !important;
    border-radius: 5px;
}

input:invalid,
textarea:invalid {
    border: 2px solid $light-red !important;
    border-radius: 5px;
}

input:focus,
textarea:focus {
    outline: none !important;
}

#submit {
    margin-top: 20px;
    font-size: 1.2em;
}