@import "variables";
@import "navbar";
@import "footer";
@import "hover";

body{
	font-family: $chilanka;
}
.title-text{
	font-family: $penny !important;
}
.contact-form{
	background-color: $blue;
	-webkit-box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
  		 box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
  		 color: white;
  		 label{
  		 	text-transform: uppercase;
  		 }
}
.send-btn{
	cursor: pointer;
	-webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  		 box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  		 transform: scale(1,1);
  		 transition: 0.3s;
 }
 .send-btn:hover{
 	-webkit-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  		 box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
  		 transform: scale(1.1,1.1);
  		 transition: 0.3s;
 }
.name-input{
	text-transform: capitalize;

}
input, textarea{
	-webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
  		 box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
}

input:valid, textarea:valid{
	border: 2px solid $light-green !important;
	border-radius: 5px;
}

input:invalid, textarea:invalid{
	border: 2px solid $light-red !important;
	border-radius: 5px;
}

input:focus, textarea:focus{
	outline: none !important;
}

