@import "variables";
@import "navbar";
@import "footer";
// @import "lightbox2";
@import "hover";


.title-text{
	font-family: $penny !important;
}
.fanart-title{
	// background-color: $light-grey;
	padding: 60px 30px 40px 30px;
}
.carousel-inner{
	
}
.modal{
	// max-height: 95vh;
	@include media-breakpoint-up(sm) {
  		bottom: 10px;
	}
	.modal-dialog, .modal-content{
		// max-height: 100%;
		@include media-breakpoint-up(sm) {
  		bottom: 10px;
	}
	}
	.close-icon{
		height: 30px;
		border: 1px solid $clear;
		// width: 30px;
	}
	.close{
		border: 1px solid $clear;
	}
	.modal-footer button, .modal-header button{
		cursor: pointer;
		  //  -webkit-transform: scale(1,1);
    //     -ms-transform: scale(1,1);
    //         transform: scale(1,1);
    // -webkit-transition: all 200ms ease-in-out;
    // -o-transition: all 200ms ease-in-out;
    // transition: all 200ms ease-in-out;
    // &:hover{
    //   @include media-breakpoint-up(sm) {
    //         // -webkit-box-shadow:8px 8px 8px rgba(0,0,0,0.5);
    //         //         box-shadow:8px 8px 8px rgba(0,0,0,0.5);
    //     -webkit-transform: scale(1.1,1.1);
    //         -ms-transform: scale(1.1,1.1);
    //             transform: scale(1.1,1.1);
    //       }
    //   }
	}
}
.lightbox-row{
	background-color: $navbar;
}
.pic-card{
	margin: 2% !important;
	max-width: 96% !important;
	content-box: border-box !important;
	box-shadow: 5px 5px 5px rbga(0,0,0,0.7) !important;
	border-radius: 10px !important;
	padding: 20px;
	cursor: pointer !important;
	background-color: #fff;
	border-radius: 10px;
	max-height: 50vh;
	@include media-breakpoint-up(sm) {
  		margin: 5% !important;
		width: 40% !important;
	}
	@include media-breakpoint-up(md) {
  		margin: 2% !important;
		width: 29.3% !important;
	}
	img{
		object-fit: cover !important;
		height: 70%;
		width: 100%;
	}
}
.artist-link{
	cursor: pointer;
	margin-top: 5px;
}
.grow{
		  -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
            box-shadow:5px 5px 5px rgba(0,0,0,0.3);
        -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
            transform: scale(1,1);
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    &:hover{
      @include media-breakpoint-up(sm) {
            -webkit-box-shadow:8px 8px 8px rgba(0,0,0,0.5);
                    box-shadow:8px 8px 8px rgba(0,0,0,0.5);
        -webkit-transform: scale(1.05,1.05);
            -ms-transform: scale(1.05,1.05);
                transform: scale(1.05,1.05);
          }
      }
}
.modal-body{
	// height: 70vh;
	.fan-img{
		// max-height: 100%;
	}
}

.carousel, .carousel-item, .carousel-inner{
	// max-height: 100%;
	max-width: 100%;
	padding: 0 0 20px 0 !important;
	object-fit: cover !important;
	// width: 
	// height: 70vh;
	// max-width: 100%;
	.carousel-control-prev-icon, .carousel-control-next-icon{
		position: relative;
	}
	.carousel-control-prev-icon{
		@include media-breakpoint-up(sm) {
           right: 40px;
          }
	}
	.carousel-control-next-icon{
		@include media-breakpoint-up(sm) {
           left: 40px;
          }
	}
	.fan-img{
		object-fit: cover !important;
		max-height: 400px;
	max-width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto
		// max-height: 70%;
		// width: 100%;

	}
	h3, p{
		padding: 0px !important;
		margin: 0 !important;
		color: white;
			//  position: absolute;
			//   top: 50%;
			//   left: 50%;
			//   // transform: translate(-50%, -50%);
			// top: 320px;
		}
}
.carousel-inner{
	padding: 0 !important;
}
.carousel-item{
	margin: 0 !important;
	.fan-img{
		// margin: 0 !important;
	}
}
.email-link{
	padding: 10px; 
	margin-top: 5px;
	max-width: 100%;
	background-color: #fff;
	border-radius: 5px;
	            -webkit-box-shadow:4px 4px 4px rgba(0,0,0,0.5);
                    box-shadow:4px 4px 4px rgba(0,0,0,0.5);

			   -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
            transform: scale(1,1);
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    @include media-breakpoint-up(md) {
            max-width: 100%;
          }
    &:hover{
      @include media-breakpoint-up(sm) {
            -webkit-box-shadow:8px 8px 8px rgba(0,0,0,0.5);
                    box-shadow:8px 8px 8px rgba(0,0,0,0.5);
        -webkit-transform: scale(1.1,1.1);
            -ms-transform: scale(1.1,1.1);
                transform: scale(1.1,1.1);
          }
      }
	}
// }
.mail-text{
	margin-top: 15px;
}
.img-fluid{
	// display: block;
  // margin-left: auto;
  // margin-right: auto;
  // width: 50%;
}
.contributions{
	padding: 0 !important;
	 @include media-breakpoint-up(sm) {
            padding: 0 10% !important;
          }
}
.contributions-sub-text{
	padding: 20px 10% 20px 10%;
}
.mail-to{
	background-color: $navbar;
}
.mail-to > p, .mail-to > a{
	font-size: 1.3em;
	padding: 10px 50px 10px 50px;
}

