/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "variables";
@import "navbar";
@import "footer";
@import "hover";


.title-text {
    font-family: $penny !important;
}

.fanart-title {
    padding: 60px 30px 40px 30px;
}

.card {
    background-color: $card;
}

.modal {
    @include media-breakpoint-up(sm) {
        bottom: 10px;
    }

    .modal-dialog,
    .modal-content {
        @include media-breakpoint-up(sm) {
            bottom: 10px;
        }
    }

    .close-icon {
        height: 30px;
        border: 1px solid $clear;
    }

    .close {
        border: 1px solid $clear;
    }

    .modal-footer button,
    .modal-header button {
        cursor: pointer;
    }
}

.pic-card {
    margin: 2% !important;
    max-width: 96% !important;
    -webkit-box-shadow: 5px 5px 5px rbga(0, 0, 0, 0.7) !important;
    box-shadow: 5px 5px 5px rbga(0, 0, 0, 0.7) !important;
    border-radius: 10px !important;
    padding: 20px;
    cursor: pointer !important;
    background-color: $light-text;
    border-radius: 10px;
    max-height: 50vh;



    @include media-breakpoint-up(sm) {
        margin: 5% !important;
        width: 40% !important;
    }

    @include media-breakpoint-up(md) {
        margin: 2% !important;
        width: 29.3% !important;
        
    }

    .card-headline {
        font-size: 1.4em;
        // margin-top: 20px;
        margin-top: 10px;
        margin-bottom: 0 !important;
        @include media-breakpoint-up(md) {
            // margin-top: 10px !important;
            font-size: 1.5em;
        }
    }

    .card-subtext{
        font-size: 1em;
        margin: 0 !important;
        padding-bottom: 20px;
    }

    img {
        -o-object-fit: cover !important;
        object-fit: cover !important;
        height: 70%;
        width: 100%;
    }
}

.artist-link {
    cursor: pointer;
    margin-top: 5px;
}

.grow {

    @extend %hover-grow;
}

.carousel,
.carousel-item,
.carousel-inner {
    max-width: 100%;
    padding: 0 0 20px 0 !important;
    -o-object-fit: cover !important;
    object-fit: cover !important;

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        position: relative;
    }

    .carousel-control-prev-icon {
        @extend %hover-grow-no-shadow;

        @include media-breakpoint-up(sm) {
            right: 40px;
        }
    }

    .carousel-control-next-icon {
        @extend %hover-grow-no-shadow;

        @include media-breakpoint-up(sm) {
            left: 40px;
        }
    }

    .fan-img {
        -o-object-fit: cover !important;
        object-fit: cover !important;
        max-height: 400px;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    h3,
    p {
        padding: 0px !important;
        margin: 0 !important;
        color: $light-text;
    }
}

.carousel-inner {
    padding: 0 !important;
}

.carousel-item {
    margin: 0 !important;

    .fan-img {}

    button {
        padding-top: 10px;
    }
}

.mail-text {
    margin-top: 15px;
}

.contributions {
    padding: 0 !important;

    @include media-breakpoint-up(sm) {
        padding: 0 10% !important;
    }
}

.contributions-sub-text {
    padding: 20px 10% 20px 10%;
}

.mail-to {
    padding-bottom: 0 !important;

    .bi-envelope{
        position: relative;
        top: 5px;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        color: $link;
    }

    p {
        font-size: 1.3em;
        padding: 10px 20px 10px 20px;

        @include media-breakpoint-up(md) {
            padding: 10px 40px 10px 40px;
        }
    }

    .email-link {
        padding: 15px 10px 10px 10px;
        ;
        margin-top: 5px;
        max-width: 100%;
        font-size: 1.1em;
        // background-color: $light-text;
        border-radius: 5px;
        @extend %hover-grow;

        @include media-breakpoint-up(md) {
            max-width: 100%;
            font-size: 1.3em;
        }
    }
}