@import "variables";


footer{
	border-top: 2px solid $medium-grey;
	// margin-top: 40px;
	bottom: 0;
}
.footer-copyright{
	background-color: $blue;
	// padding-top: 10%;
	bottom: 0;
	// padding-bottom: 15px;
	// height: 80px;
}
.footer-copyright > p{
	font-size: 1.3em;
	margin-top: 13px;
	// padding-bottom: 15px;
	// bottom: 0;
	// color: #fff;
}
.kevin-link{
	color: white;
	transition: 0.3s !important;
	text-decoration: none ;
}
#amberbrownwantsextracredit{

}
.kevin-link:hover{
	// color: $red;
	color: white;
	transition: 0.3s !important;
	text-decoration: none;
}
footer ul{
	list-style-type: none;
  margin: 0;
  // padding-top: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  // background-color: #333333;
}
.footer-link, .active-footer-link{
	display: block;
  // color: $blue;
  margin-bottom: 10px;
  text-align: center;
  padding: 16px;
  text-decoration: none !important;
  transition: color 0.3s;
}
.footer-link{
	color: $blue;
}
.active-footer-link{
	color: white;
}
.footer-link:hover{
	color: rgba(255,255,255,0.6) !important;
	transition: color 0.3s;
}
.active-footer-link:hover{
	color: white;
}
// .active-footer-link{
// 	display: block;
//   color: white;
//   margin-bottom: 10px;
//   text-align: center;
//   padding: 16px;
//   text-decoration: none !important;
//   transition: color 0.3s;
// }
// .active-footer-link:hover{
// 	// color: $blue;
// 	transition: color 0.3s;
// }
.links{
	color: $red;
}
.book-container{
	// max-height: 780px;
}
