@import "variables";
@import "hover";
@import "hamburger";



.dropdown-collapsed{
	display: none;
	// -webkit-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;
		a{
			// padding: 0 10px 0 10px;
		}
		p{
			// margin-left: 10px;
			// padding: 0 10px 0 10px;
		}
		img{
			width: 20px;
			height: 20px;
			display: inline;
		}

}
.drop-icon{
	width: 20px;
	height: 20px;
	// position: relative;
	// margin-top: 10px;
}
.dropdown-collapsed p, .sub-menu-heading{
	padding: 10px 30px 10px 30px;
	// width: 300px;
	width: 90vw;
	margin: 0;
	overflow-x: hidden;
	overflow-wrap: normal;
	border: 2px solid rgba(0,0,0,0);
	font-style: italic;
	transition: 0.3s;
	content-box: border-box !important;
	@include media-breakpoint-up(sm) {
width: 60vw;
	}
	@include media-breakpoint-up(lg) {
  			width: 40vw; 
	}
}
.dropdown-collapsed p:hover, .sub-menu-heading:hover{
	background-color: $medium-grey;
	border: 2px solid $blue;
	transition: 0.3s;

	// width: 95vw;
}
.dropdown-menu{
	// font-size: 1.2em;
}
.expanded{
	display: block;
	// -webkit-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;
}
.navbar{
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1000;
	background-color: $blue;
	border-bottom: 1px solid $dark-green;
	// max-height: 60px;
	padding: 10px 20px 10px 20px;
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
	@include media-breakpoint-up(lg) {
		padding: 0px 20px 0px 20px;
	}
}
.navbar-toggler{
	cursor: pointer;
	border: 2px solid rgba(0,0,0,0);
	transition: all 0.2s;
}
.navbar-toggler:hover{
	border: 2px solid $dark-green;
	transition: all 0.2s;
}
.mega-menu{
		// width: 90vw;
	// max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 300px;
	max-height: 40vh;
	width: 90vw;
	border: 2px solid $blue;
	-webkit-box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
  		 box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.4);
@include media-breakpoint-up(sm) {
width: 60vw;


	}
  		 
	@include media-breakpoint-up(lg) {
  			width: 40vw; 
  			height: auto;
  			max-height: 600px;
  			// position: relative;
  			left: -40px;
 // padding: 10px;



	}
.row{
	// margin-left: 15px;
	@include media-breakpoint-up(lg) {
  			margin-left: 0px;
  			display: flex;
  flex-flow: column wrap;
  max-height: 100%;
  // width: 150px;
  overflow: auto;
  align-content: flex-start;
	}
}
.mega-menu.row p{
	// margin-left: 25px;
}
.bold{
	font-family: $kanit;
	text-transform: uppercase;
	cursor: pointer;
}
.show{
	display: block !important;
}
}
.mega-menu a{
	text-decoration: none; 
	color: cadetblue;
}
.mega-menu .sub-menu-heading{ 
	color: darkcyan;
}

.navbar-brand{
	padding: 10px 0px 0px 0px;
}
.nav-link{
	padding: 18px 30vw 18px 30vw !important;
	transition: all 0.2s;
	@include media-breakpoint-up(sm) {
  		padding: 18px 40vw 18px 40vw !important;
	}

	@include media-breakpoint-up(lg) {
  			padding: 18px 50px 18px 50px !important;
	}
}
.nav-link:hover{
	background-color: $dark-green;
	transition: all 0.2s;
	color: #fff !important;
}
.nav-item:hover{
	color: #fff !important;
}
.dropdown-toggle:after { content: none }
.book-caret{
	// transform: rotate(-90deg);
	position: relative;
	// top: 4px;
}
.effect-1 {
  padding-top: 10px;
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $hover;
    transform:  scaleX(0);
  }
  &:hover:before {
    transform:  scaleX(1);
  }
}