/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import "variables";
@import "navbar";
@import "footer";
@import "hover";

.resources-div {
    .embed-responsive {}

    .links-heading {
        text-decoration: underline;
        padding: 30px 0 10px 0;
    }

    .reading-text {
        padding: 0px 5%;

        @include media-breakpoint-up(sm) {
            padding: 0px 20%;
        }
    }

    h3 {
        margin-top: 40px;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            text-align: center !important;
            font-size: 1.5em;
            text-decoration: underline !important;
            color: $light-blue;

            .twitter-icon {
                width: 40px;
                height: 40px;
            }

            .img {
                width: 200px;
            }

            h3 {
                color: $light-blue;
                @extend %hover-grow-no-shadow;
                padding: 0 10px;
                text-decoration: none !important;
                transition: all 0.3s;
                &:hover {
                    text-decoration: underline;
                    color: $light-text;
                    transition: all 0.3s;
                }

            }

        }
    }

    .resource-wrapper {
        padding: 40px 0 80px 0;
    }

    .iframe-wrapper {
        padding: 10px;

        @include media-breakpoint-up(sm) {
            padding: 20px 20px;
        }

        @include media-breakpoint-up(lg) {
            padding: 20px 150px;
        }
    }
}

.iframe-subtext {
    padding: 20px 5%;

    @include media-breakpoint-up(sm) {
        padding: 20px;
    }
}

.embed-responsive-item {
    background-image: url("../assets/loading3.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}