@import "../bootstrap/scss/bootstrap";
@import "mockup";
@import "lightbox";
@import "about";



// COLORS and VARIABLES



body{ 
font-size: 16px;
 }
div{
  // @extend %color-border;
}

// .user-image{
// 	float: left;
// 	display: inline;
// }

// CONTACT FORM
.form-wrapper{
	border: 2px solid black;
	padding: 30px 0px 30px 0px;
	// margin: 20px 0px 20px 0px;
	width: 90%;
	border-radius: 10px;
	background-color: #9FDFF5;
	@include media-breakpoint-up(md) {
  		width: 40%;
}
.name-input, .email-input, .message-input{
		margin: 10px;
		width: 200px;
	@include media-breakpoint-up(md) {
  		width: 280px;
}
}
.message-input{
	height: 100px;
}
}


// NAVBAR
.navbar{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
 .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.dropdown-menu{
	position: relative;
	margin-top: -10px;
}
#navbarDropdownMenuLink{
	cursor: default;
}
.nav-item, .dropdown-item{
	position: relative;
	margin-right: 20px;
}

