@import "../bootstrap/scss/bootstrap";
@import "mockup";
@import "lightbox";
@import "about";
@import "books";
@import "fanart";
@import "contact";
@import "navbar";
@import "variables";




body{ 
font-size: 16px;
// overflow-x: hidden !important;
overflow-x: hidden;
 }
div{
  // @extend %color-border;
}
.row, .container-fluid{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

// .user-image{
// 	float: left;
// 	display: inline;
// }

// CONTACT FORM
.form-wrapper{
	border: 2px solid black;
	padding: 30px 0px 30px 0px;
	// margin: 20px 0px 20px 0px;
	width: 90%;
	border-radius: 10px;
	background-color: #9FDFF5;
	@include media-breakpoint-up(md) {
  		width: 40%;
}
.name-input, .email-input, .message-input{
		margin: 10px;
		width: 200px;
	@include media-breakpoint-up(md) {
  		width: 280px;
}
}
.message-input{
	height: 100px;
}
}

.title-text{
	font-family: $penny !important;
}
.user-image{
	max-width: 90vw;
	padding: 0;
	@include media-breakpoint-up(sm) {
  		max-width: 60vw;
  		padding: 5%;
}
}

// ::-webkit-scrollbar {
//     -webkit-appearance: none;
// }

// ::-webkit-scrollbar:vertical {
//     width: 12px;
// }

// ::-webkit-scrollbar:horizontal {
//     height: 12px;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: rgba(0, 0, 0, .5);
//     border-radius: 10px;
//     border: 2px solid #ffffff;
// }

// ::-webkit-scrollbar {
//     width: 12px;
// }

// ::-webkit-scrollbar-track {
//     z-index: -1;
// }

// a{
// 	text-decoration: none !important;
// }

// ::-webkit-scrollbar {
//   -webkit-appearance: none;
//   width: 7px;
// }
// ::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   // background-color: rgba(0, 0, 0, .5);
//   -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
// }
