$swashed: 'Sansita Swashed', cursive;
$chilanka: 'Chilanka', cursive;
$bebas:  'Bebas Neue', cursive;
$kanit:  'Kanit', sans-serif;
$penny: 'Henny Penny', cursive;;

$bg: #0BAAD4;
$text: rgba(255,255,255,.7);
$hover: darken($bg, 10%);

// COLOR PALLETE 1
$red: #FE4A49;
$yellow: #FED766;

// $dark-blue:  #1d7b8e;
// $light-blue:  #34A2B8;
$dark-grey: #c2c3c4;
$medium-grey: #E9ECEF;
$light-grey: #F4F4F8;
// $dark-green: #116877;
// $light-green: #9CF76E;
$green-sheen: #87BAAB;
$light-red: #F66E6E;
// $light-purple: #7E5F7E;

// color pallete 2
$purchase: #298838;
$purchase-dark: #127521;
$read-more: #0b9fc4;
$read-more-dark: #18718e;
$carousel: #636363;
$navbar: #009FB7;
$purple: #7400B8;
$light-purple: #7400B8;
// $blue-purple: #5E60CE;
$dark-navbar: #187487;
// $blue: #4EA8DE;
$light-navbar: #56c7dd;
$card: #168393;
$dark-green: #64DFDF;
$green: #72EFDD;
$light-green: #80FFDB;
$clear: rgba(0,0,0,0);
$title-text: #333333;
$jumbotron: #F4F4F8;




%hover-grow {
  	   -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
            transform: scale(1,1);
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-box-shadow:4px 4px 4px rgba(0,0,0,0.5);
                    box-shadow:4px 4px 4px rgba(0,0,0,0.5);
    &:hover{
      @include media-breakpoint-up(sm) {
            -webkit-box-shadow:8px 8px 8px rgba(0,0,0,0.5);
                    box-shadow:8px 8px 8px rgba(0,0,0,0.5);
        -webkit-transform: scale(1.1,1.1);
            -ms-transform: scale(1.1,1.1);
                transform: scale(1.1,1.1);
          }
      }
}


.title-jumbo{
	background-color: $jumbotron;
}
