// FONTS
@font-face {
  font-family: "HennyPenny-Regular";
  src: url("../assets/fonts/HennyPenny-Regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/HennyPenny-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/HennyPenny-Regular.otf") format("opentype"), /* Open Type Font */
    url("../assets/fonts/HennyPenny-Regular.svg") format("svg"), /* Legacy iOS */
    url("../assets/fonts/HennyPenny-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../assets/fonts/HennyPenny-Regular.woff") format("woff"), /* Modern Browsers */
    url("../assets/fonts/HennyPenny-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chilanka-Regular";
  src: url("../assets/fonts/Chilanka-Regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/Chilanka-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/Chilanka-Regular.otf") format("opentype"), /* Open Type Font */
    url("../assets/fonts/Chilanka-Regular.svg") format("svg"), /* Legacy iOS */
    url("../assets/fonts/Chilanka-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../assets/fonts/Chilanka-Regular.woff") format("woff"), /* Modern Browsers */
    url("../assets/fonts/Chilanka-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../assets/fonts/BebasNeue-Regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/BebasNeue-Regular.otf") format("opentype"), /* Open Type Font */
    url("../assets/fonts/BebasNeue-Regular.svg") format("svg"), /* Legacy iOS */
    url("../assets/fonts/BebasNeue-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../assets/fonts/BebasNeue-Regular.woff") format("woff"), /* Modern Browsers */
    url("../assets/fonts/BebasNeue-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kanit-Regular";
  src: url("../assets/fonts/Kanit-Regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/Kanit-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/Kanit-Regular.otf") format("opentype"), /* Open Type Font */
    url("../assets/fonts/Kanit-Regular.svg") format("svg"), /* Legacy iOS */
    url("../assets/fonts/Kanit-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../assets/fonts/Kanit-Regular.woff") format("woff"), /* Modern Browsers */
    url("../assets/fonts/Kanit-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "SansitaSwashed-Light";
  src: url("../assets/fonts/SansitaSwashed-VariableFontwght.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/SansitaSwashed-VariableFontwght.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/SansitaSwashed-VariableFontwght.otf") format("opentype"), /* Open Type Font */
    url("../assets/fonts/SansitaSwashed-VariableFontwght.svg") format("svg"), /* Legacy iOS */
    url("../assets/fonts/SansitaSwashed-VariableFontwght.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../assets/fonts/SansitaSwashed-VariableFontwght.woff") format("woff"), /* Modern Browsers */
    url("../assets/fonts/SansitaSwashed-VariableFontwght.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RockSalt-Regular";
  src: url("../assets/fonts/RockSalt-Regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/RockSalt-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/RockSalt-Regular.otf") format("opentype"), /* Open Type Font */
    url("../assets/fonts/RockSalt-Regular.svg") format("svg"), /* Legacy iOS */
    url("../assets/fonts/RockSalt-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../assets/fonts/RockSalt-Regular.woff") format("woff"), /* Modern Browsers */
    url("../assets/fonts/RockSalt-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

$swashed: 'SansitaSwashed-Light', cursive;
$chilanka: 'Chilanka-Regular', cursive;
$bebas:  'BebasNeue-Regular', cursive;
$kanit:  'Kanit-Regular', sans-serif;
$penny: 'HennyPenny-Regular', cursive;
$salt: 'RockSalt-Regular', cursive;




// COLORS
$red: #FE4A49;
$dark-red: #b21717;
$yellow: #FED766;
$dark-grey: #c2c3c4;
$medium-grey: #E9ECEF;
$light-grey: #F4F4F8;
$light-red: #F66E6E;
$clear: rgba(0,0,0,0.0);
$bg: #0BAAD4;
$text: rgba(255,255,255,.7);
$hover: darken($bg, 15%);
$light-green: #80FFDB;

// color pallete 1
$purchase: #298838;
$purchase-dark: #127521;
$read-more: #0b9fc4;
$read-more-dark: #18718e;
// $carousel: #636363;
$carousel: #24628c;
$navbar: #009FB7;
$dark-navbar: #187487;
$light-navbar: #56c7dd;
// $card: #8c8c8c;
// $card: #e76f51;
$card: #a8dadc;
// $title-text: #333333;
$title-text: #009FB7;
$jumbotron: #F4F4F8;
// $link: #1956B7;
$link: #1a9cbc;



// COLOR PALLETE 2
// $purchase: #DB00B6;
// $purchase-dark: #BC00DD;
// $read-more: #BC00DD;
// $read-more-dark: #A100F2;
// $carousel: #636363;
// $dark-navbar: #2D00F7;
// $navbar: #6A00F4;
// $light-navbar: #8900F2;
// $card: #8c8c8c;
// $title-text: #333333;
// $jumbotron: #F4F4F8;
// $link: #1956B7;


// COLOR PALLETE 3
// $purchase: #7209B7;
// $purchase-dark: #BC00DD;
// $read-more: #F72585;
// $read-more-dark: #A100F2;
// $carousel: #636363;
// $dark-navbar: #3A0CA3;
// $navbar: #4361EE;
// $light-navbar: #4CC9F0;
// $card: #8c8c8c;
// $title-text: #333333;
// $jumbotron: #F4F4F8;
// $link: #1956B7;

// color pallete 4
// $purchase: #F15BB5;
// $purchase-dark: #c44290;
// $read-more: #00F5D4;
// $read-more-dark: #00af95;
// $carousel: #636363;
// $navbar: #00BBF9;
// $dark-navbar: #026482;
// $light-navbar: #53d4fc;
// $card: #8c8c8c;
// $title-text: #333333;
// $jumbotron: #F4F4F8;
// $link: #1956B7;






%hover-grow {
       -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
            transform: scale(1,1);
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-box-shadow:4px 4px 4px rgba(0,0,0,0.5);
                    box-shadow:4px 4px 4px rgba(0,0,0,0.5);
    &:hover{
      @include media-breakpoint-up(sm) {
            -webkit-box-shadow:8px 8px 8px rgba(0,0,0,0.5);
                    box-shadow:8px 8px 8px rgba(0,0,0,0.5);
        -webkit-transform: scale(1.1,1.1);
            -ms-transform: scale(1.1,1.1);
                transform: scale(1.1,1.1);
          }
      }
}

%hover-grow-no-shadow {
       -webkit-transform: scale(1,1);
        -ms-transform: scale(1,1);
            transform: scale(1,1);
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    &:hover{
      @include media-breakpoint-up(sm) {
        -webkit-transform: scale(1.1,1.1);
            -ms-transform: scale(1.1,1.1);
                transform: scale(1.1,1.1);
          }
      }
}


.title-jumbo{
  background-color: $jumbotron;
  
}
.jumbotron{
  padding-bottom: 2rem !important;
  padding-top: 0.5rem !important;
   @include media-breakpoint-up(sm) {
          padding-top: 3rem !important;
    }
    p{
      font-size: 1.2em;
      padding: 0 5%;
      @include media-breakpoint-up(sm) {
          margin: 0px 20% 0px 20%;
      }
    }
}

body{
  font-family: $chilanka;
}




.subnav {
  position: absolute;
}

[data-visually-hidden="true"] {
  display: none;
}
[data-visually-hidden="false"] {
  display: block;
}