$swashed: 'Sansita Swashed', cursive;
$chilanka: 'Chilanka', cursive;
$bebas:  'Bebas Neue', cursive;
$kanit:  'Kanit', sans-serif;
$penny: 'Henny Penny', cursive;;

$bg: #0BAAD4;
$text: rgba(255,255,255,.7);
$hover: darken($bg, 10%);

// COLOR PALLETE 1
$red: #FE4A49;
$yellow: #FED766;
$blue: #009FB7;
$dark-blue:  #1d7b8e;
$dark-grey: #c2c3c4;
$medium-grey: #E9ECEF;
$light-grey: #F4F4F8;
$dark-green: #116877;
$light-green: #9CF76E;
$light-red: #F66E6E;

.title-jumbo > p{
	padding: 20%;
}